.news{
    display:flex;
    /* padding: 10px; */
}
.icon{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    /* border-radius: 20px; */
}
.padding-left10{
    padding: 3px 3px 0px 5px;
}
.news-text{
    font-size: medium;
    font-weight: 600;
    color:black;
    text-decoration: none !important;
}
