body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.horo-icon{
  /* border-radius: 25px;
  opacity: 0.7; */
  background-color: #ffffff;
}
.flex-column{
  display: flex;
  position: relative;
  /* flex-direction: column; */
}
.column{
  flex-direction: column;
  width:100%;
}
.left,.right{
  border:0;
  background: transparent;
  vertical-align: middle;
  /* top: 50%; */
  /* padding: 450% 10% 450% 10%; */
}
.left:focus,.right:focus{
  border:0;
  outline: 0;
  box-shadow: none!important;
  /* background: transparent; */
  /* padding: 450% 10% 450% 10%; */
}
.right-slider{
  display:flex;
  position: absolute;
  top:0;
  right:-9px;
  height:100%;
  width:50px;
  background-color: transparent;
  border:0;
  /* opacity: 0.5; */
}
.left-slider{
  display: flex;
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:50px;
  background-color: transparent;
  border:0 !important;
  /* opacity: 0.5; */
}
.left-slider:hover,.left-slider:focus,.right-slider:hover,.right-slider:focus{
  border:0;
  outline: 0;
  /* background-color: #00000017; */
  box-shadow: none!important;
  opacity: 0.5;
}
.height{
  height: fit-content;
}
.news-card{
  min-height: 450px;
  max-height: fit-content;
  /* //500px; */
  /* max-height: 41.2%; */
  overflow: hidden;
  margin: 9px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #ffffff;
  border-radius: 20px;
}
.news-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.music-card{
  min-height: 3%;
  max-height: 14%;
  /* min-width: 544px; */
  /* max-width:15%; */
  min-width: fit-content;
  overflow: hidden;
  /* padding: 10px; */
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  border-radius: 20px;
  display:flex;
}
.music-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.song{
  border-radius: 40px;
  width: 79px;
  height: 79px
}
.song-font{
  font-size: x-small;
  text-align: center;
}
.width{
  width:588px;
}
.padding{
  padding: 20px 0px 0px;
}
.padding-10{
  padding:10px;
}
.weather-card{
  min-height: 7%;
  max-height: 10%;
  /* max-width:45%; */
  /* overflow: scroll; */
  /* padding: 10px; */
  color:white;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  border-radius: 20px;
}
.weather-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.stocks-card{
  min-height: 5%;
  max-height: 23.5%;
  overflow: hidden;
  /* padding: 10px; */
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  border-radius: 20px;
}
.highcharts-container,.highcharts-background,.highcharts-root {
  width:120px !important;
  height:120px !important;
  /* overflow: hidden !important; */
  /* z-index: 0 !important; */
}
.stocks-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.stocks{
  display: flex;
}
.button{
  /* margin-top: 17px; */
  padding: 20px;
}
.btn{
  padding: 5px;
  border-radius: 10px;
}
.stocks-text{
  padding: 27px 0px 0px 30px;
}
/* .margin-top{
  margin-top: -25px;
} */
.chart{
  display:flex;
  /* margin-left: -24px; */
  margin-bottom: -15px;
  padding-left: 3px;
  /* margin-top: 10px; */
}
.highcharts-axis-title,.highcharts-credits,.highcharts-grid-line,
.highcharts-axis-line,.highcharts-tick{
  font-size: 0px !important;
  stroke-width:0;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-4{
  flex: 4;
}
.display-flex{
  display: flex;
}
